body {
  font-family: Arial;
}
.navbar{
  background-color: #D6D4D3;
}

.quem-somos {
  background-color: grey
}

.margin {
  padding-top: 30px;
  padding-bottom: 50px;
}

.bg-footer{
  background-color: black;
  color: white;
}
